.center{
    display: flex;
    min-height: 45vh;
    flex-direction: column;
  }
  
  .center {
    flex: 1;
  }

  h4,h5 {
      font-weight: 100;
  }

.i.linkedin.icon.a.item {
    width:25px;
    height: 25px;
}

.footerCredit h4{
    font-size:30px;
}


